@font-face {
    font-family: 'ralewayregular';
    src: url('../media/fonts/raleway_regular-webfont.woff2') format('woff2'),
         url('../media/fonts/raleway_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0%;  
    font-family: 'ralewayregular', sans-serif;
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #303030;
    padding: 30px 0;
}

.header-wrapper {
    width: 64%;
    margin: 0 auto;
    padding: 0 30px 0 30px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;   
}

nav {
    flex: 6;
    justify-content: flex-end;
}

.logo {
    flex: 1;
}

nav ul{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.main-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}

.main-menu {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    padding-left: 47%;  
    padding-right: 0%;  
}

/* Content Styles */

/* Main Slide Style*/

.main-slide {
    background: url(/media/bg.jpg) no-repeat;
    text-transform: uppercase;
    color: #fff;
}

.main_slide-wrapper {
    width: 64%;
    margin: 0 auto;
    padding: 190px 0 184px 0; 
}

.main-slide h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

.main-slide h1 {
    font-size: 66px;
}

.main-slide h1:first-child {
    margin-top: 0;
    margin-bottom: 20px;
}

.main-slide p {
    display: inline-block;
    font-size: 16px;
    padding: 20px 72px;
    background-color: rgba(255, 255, 255, 0.1);  
    border-radius: 5px;  
}

.main-slide i {
    margin-left: 10px;
}

.main-slide span {
    color: #7b6c63;
}

.about_us-wrapper {
    margin: 93px auto;
    text-align: center;
}

.about_us-wrapper h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: #7b6c63;
    margin: 88px 0 50px 0;
}

.about_us-wrapper p {
    font-size: 18px;
    line-height: 2em;
    margin: 40px 0 84px 0;
}

.separator {
    width: 75px;
    margin: 0 auto;
    border-bottom: solid 3px #7b6c63; 
}

/* We are best Section Styles */

.we-best {
    background-color: #f5f5f5;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;  
}

.we-best h2 {
    margin: 88px 0px 36px 230px;
    text-transform: uppercase;
    font-size: 24px;
    color: #7b6c63;    
}

.we-best p {
    font-size: 16px;
    line-height: 1.5em;
}

.best-content p:nth-of-type(1) {
    margin: 0 0 38px 230px;
}

.best-content p:nth-of-type(2) {
    margin: 0 0 36px 230px;
}

.best-content p:nth-of-type(3) {
    margin: 0 0 92px 230px;
}

.we-best > .best-content {
    display:inline-block;
    width: 50%;
}

.best-content p:last-child {
    display: inline-block;
    text-transform: uppercase;
    padding: 5px 22px;
    border: 3px solid black;
    border-radius: 5px;
}

.we-best img {
    width: 50%;
    margin-left: auto;
    -webkit-clip-path: polygon(0% 0%, 25% 100%, 100% 100%, 100% 0%);
    clip-path: polygon(0% 0%, 25% 100%, 100% 100%, 100% 0%);
}

.services {
    background-color: #fff;
}

.services-wrapper {
    width: 64%;
    margin: 90px auto 76px auto;
    padding: 0 16px;
    text-align: center;
}

.services-wrapper h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: #7b6c63;   
}

.services-wrapper p{
    font-size: 16px; 
    margin-bottom: 88px;
}

.services-cards {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card {
    width: 29%;
}

.card:first-child img {
    margin-bottom: 30px;
}

.card:not(:nth-child(1)) img {
    display: inline-block;
    margin-bottom: 34px;
}

.card > h5 {
    font-size: 18px;
    margin: 0 0 30px 0;
    text-transform: uppercase;
    color: #424242;
}
.card > p {
    font-size: 16px;
    color: #949494;
    margin: 0;
}

.skills {
    background: url("/media/skills.jpg") no-repeat;
    text-align: center;
    padding-top: 104px;
}

.skill {
    margin-bottom: 0;
}

.skills-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    width: 64%;
    margin: 0 auto;
    text-align: center;
}
.skills-wrapper p {
    font-size: 16px;
    color: #fff;
    margin: 32px 0 80px 0;
}

.skills h1 {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 36px 0;
}

.chart {
    position: relative;
}

.chart a {
    position: absolute;
    margin: 0;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align:middle;
    color: #fff;
}

.portfolio-about {
    width: 64%;
    margin: 88px auto;
    text-align: center;
}

.portfolio-about h1 {
    color: #7b6c63;
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 0 50px 0;
}

.portfolio-about p {
    margin: 0;
    line-height: 1.5em;
    color: #212121;
}

.portfolio-about p:first-of-type {
    margin-top: 48px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 396px 1fr;
}

.twitter {
    grid-column: 1 / 5;
    grid-row:  2 / 3;
    background-color: #1a1a1a;
    margin: 0;
}

.twitter-wrapper {
    width: 64%;
    margin: 134px auto;
    text-align: center;
}

.twitter-wrapper h1 {
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
    margin: 0 0 38px 0;
}

.twitter-wrapper p {
    font-size: 18px;
    color: #fff;
    margin: 0 0 32px 0;
}

.twitter-wrapper a {
    font-size: 18px;
    color: #29c5f2;
    text-decoration: none;
    margin: 0;
}

.portfolio-container img {
    width: 100%;
}

.see-all {
    text-align: center;
}

.see-all p{
    display: inline-block;
    text-align: center;
    border: 3px solid black;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 15px 42px;
    margin: 90px 0;
}

.team {
    background-color: #f5f5f5;
    padding: 89px 0 92px 0;
}

.team-wrapper {
    width: 64%;
    margin: 0 auto;
    text-align: center;
}

.team-wrapper h1 {
    font-size: 40px;
    color: #7b6c63;
    text-transform: uppercase;
    margin: 0;
}

.team-wrapper > .separator {
    margin: 48px auto;
}

.team-members {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: 88px 0 0 0;  
    justify-content: space-between;
}

.description {
    text-transform: uppercase;
    text-align: center;
    margin: 26px 0 0 0;
    padding: 21px 42px;
}

.description p:first-child {
    font-size: 20px;
    margin: 0 0 14px 0;
}

.description p:last-child {
    font-size: 14px;
    margin: 0;
}

.team-card:hover .description {
    border: 3px solid black;
}

.quote {
    background-color: #1a1a1a;
    padding: 88px 0;
}

.quote-wrapper {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

.quote-wrapper h2 {
    text-transform: uppercase;
    font-size: 24px;
    color: #fff;
}
.blog {
    padding: 86px 0;
}

.blog-wrapper {
    width: 64%;
    margin: 0 auto;
    text-align: center;
}

.blog-wrapper h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 40px;
    color: #7b6c63;
}

.contacts {
    background-color: #f5f5f5;
    padding: 88px 0;
}

.contact-wrapper {
    width: 64%;
    margin: 0 auto;
    text-align: center;
}

.contact-wrapper h1 {
    text-transform: uppercase;
    margin: 0;
    font-size: 40px;
    color: #7b6c63;
}

.footer-top {
    background-color: #222222;
}

.footer-bottom {
    background-color: #1c1c1c; 
    text-align: center;      
}

.footer-bottom p {
    color: #595959;    
    padding: 28px 0 16px 0;
    margin: 0;
}

.footer-wrapper {
    width: 64%;
    margin: 0 auto;
    padding: 58px 0 54px 0;
}

.top-container {
    display: flex;
    justify-content: space-between;
}

.top-container h5 {
    margin: 0;
    text-transform: uppercase;
    color: #c2c2c2;
    font-size: 18px;
}

.company, .posts, .feed, .address {
    width: 23%
}

.company p{
    color: #5a5a5a;
    font-size: 14px;
    line-height: 1.5em;
}

.company > p:first-of-type{
    margin: 30px 0 36px 0;
}

.posts-item p:first-of-type {
    color: #404040;
    font-size: 10px;
    text-transform: uppercase;
    margin: 28px 0 10px 0;
}

.posts-item p:nth-of-type(2) {
    color: #767676;
    font-size: 14px;
    margin: 0 0 30px 0;
}

.feed >.posts-item p:first-of-type {
    text-transform: lowercase !important;
}

.posts-item span {
    color: #6e6159;
}

.address p {
    font-size: 14px;
    color: #767676;
}

.address p:first-of-type {
    margin: 28px 0 60px 0;
    line-height: 1.5em;
}

.address p:last-of-type {
    margin: 0;
}

.address p:not(:first-of-type):not(:last-of-type) {
    margin: 0 0 10px 0;
}

.address span {
    margin-right: 10px;
}

.footer-separator {
    display: block;
    border-bottom: 1px solid #393939;
    margin: 0;
}






