body {
    margin: 0%;  
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #303030;
    padding: 30px 0;
}

.header-wrapper {
    width: 64%;
    margin: 0 auto;
    padding: 0 30px 0 30px;
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style: none;
    display: flex;    
}

nav {
    flex: 6;
    justify-content: flex-end;
}

.logo {
    flex: 1;
}

nav ul{
    display: flex;
}

.main-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
}

.main-menu {
    display: flex; 
    justify-content: space-between;
    padding-left: 47%;  
    padding-right: 0%;  
}

/* Content Styles */

/* Main Slide Style*/

.main-slide {
    background: url(/media/bg.jpg) no-repeat;
    text-transform: uppercase;
    color: #fff;
}

.main_slide-wrapper {
    width: 64%;
    margin: 0 auto;
    padding: 190px 0 184px 0; 
}

.main-slide h4 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}

.main-slide h1 {
    font-size: 66px;
}

.main-slide h1:first-child {
    margin-top: 0;
    margin-bottom: 20px;
}

.main-slide p {
    display: inline-block;
    font-size: 16px;
    padding: 10px 60px;
    background-color: rgba(255, 255, 255, 0.1);    
}

.main-slide i {
    margin-left: 10px;
}

.main-slide span {
    color: #7b6c63;
}

.about_us {
    margin: 0 auto;
    text-align: center;
}

.about_us h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: #7b6c63;
    margin: 88px 0 50px 0;
}

.about_us p {
    font-size: 18px;
    line-height: 2em;
    margin: 43px 0 88px 0;
}

.separator {
    width: 75px;
    margin: 0 auto;
    border: solid 6px #7b6c63;

}



